<div class="container">
  <div class="jumbotron vertical-center">
    <h1>Welcome to the<br>
      <%= image_tag "/assets/smc_logo.png" %><br>
      Sportsband Music Repo</h1>
  </div>
</div>

<% if current_admin %>
    <table id="home_table">
      <tr>
        <td>
          <div>
            <h2>Upload a Song</h2>
            <%= image_tag "/assets/cloud_upload.png" %>
          </div>
        </td>
        <td>
          <div>
            <h2>By Part<h2>
              <%= image_tag "/assets/cloud_upload.png" %>
          </div>
        </td>
        <td>
          <div>
            <h2>Complete Songs<h2>
              <%= image_tag "/assets/cloud_upload.png" %>
          </div>
        </td>
      </tr>
    </table>
<% end %>

