#wrapper {
  background: #003667;
}

.container {
  background: #E41A23 !important;
  padding: 15px;
  border: 1px solid black;
}

#welcome {
  margin-left: auto;
  margin-right: auto;
}

.item {
  text-align: center;
}